body{
	background-color: white;
}

.bg-primary{
	background: rgb(34, 28, 53) !important;
}
.text-primary{
	color:rgb(34, 28, 53) !important;
}
.text-primary:hover{
	color:rgb(34, 28, 53) !important;
}
.input-primary:checked{
	background-color:rgb(34, 28, 53) !important;
}
.nav-link{
	color:rgb(34, 28, 53);
}
.nav-link:hover{
	color:rgb(34, 28, 53);
}
.nav-link.active{
	background: rgb(34, 28, 53) !important;
}

.spinner-grow.hidden{
	display: none;
}

.banner{
	width: 100%;
	height: 93vh;
	background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../img/banner.avif');
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	color:white;
}
